.app-container {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    padding-inline: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


h1 {
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #333;
}

@media (prefers-color-scheme: light) {
    .app-container {
        background-color: #f9f9f9;
        padding-inline: 5vw;
    }
}